<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.ssm.admin.user.mapper.ChuqinMapper">
  <resultMap id="BaseResultMap" type="com.one.ssm.admin.user.model.Chuqin">
    <id column="chuqin_id" jdbcType="INTEGER" property="chuqinId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="zhuangtai" jdbcType="VARCHAR" property="zhuangtai" />
    <result column="daka_time" jdbcType="VARCHAR" property="dakaTime" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chuqin_id, user_name, user_id, zhuangtai, daka_time, beizhu
  </sql>
  <select id="selectByExample" parameterType="com.one.ssm.admin.user.model.ChuqinExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chuqin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chuqin
    where chuqin_id = #{chuqinId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chuqin
    where chuqin_id = #{chuqinId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.one.ssm.admin.user.model.ChuqinExample">
    delete from chuqin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.one.ssm.admin.user.model.Chuqin">
    insert into chuqin (chuqin_id, user_name, user_id, 
      zhuangtai, daka_time, beizhu
      )
    values (#{chuqinId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{zhuangtai,jdbcType=VARCHAR}, #{dakaTime,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.one.ssm.admin.user.model.Chuqin">
    insert into chuqin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chuqinId != null">
        chuqin_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="zhuangtai != null">
        zhuangtai,
      </if>
      <if test="dakaTime != null">
        daka_time,
      </if>
      <if test="beizhu != null">
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chuqinId != null">
        #{chuqinId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="zhuangtai != null">
        #{zhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="dakaTime != null">
        #{dakaTime,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null">
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.one.ssm.admin.user.model.ChuqinExample" resultType="java.lang.Long">
    select count(*) from chuqin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chuqin
    <set>
      <if test="record.chuqinId != null">
        chuqin_id = #{record.chuqinId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.zhuangtai != null">
        zhuangtai = #{record.zhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="record.dakaTime != null">
        daka_time = #{record.dakaTime,jdbcType=VARCHAR},
      </if>
      <if test="record.beizhu != null">
        beizhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chuqin
    set chuqin_id = #{record.chuqinId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      zhuangtai = #{record.zhuangtai,jdbcType=VARCHAR},
      daka_time = #{record.dakaTime,jdbcType=VARCHAR},
      beizhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.one.ssm.admin.user.model.Chuqin">
    update chuqin
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="zhuangtai != null">
        zhuangtai = #{zhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="dakaTime != null">
        daka_time = #{dakaTime,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where chuqin_id = #{chuqinId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.one.ssm.admin.user.model.Chuqin">
    update chuqin
    set user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      zhuangtai = #{zhuangtai,jdbcType=VARCHAR},
      daka_time = #{dakaTime,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where chuqin_id = #{chuqinId,jdbcType=INTEGER}
  </update>
</mapper>